<header class="mb-4">
  <nav class="flex flex-wrap items-center justify-between px-4 py-2 bg-white border-b" role="navigation" data-controller="toggle">
    <div class="flex items-center flex-shrink-0 mr-6">
      <svg class="fill-current text-indigo-700 h-8 w-8 mr-2" height="54" viewbox="0 0 54 54" width="54" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"></path>
      </svg>
      <%= link_to "Eclectic Tailwind", root_path, class: "text-xl tracking-tight text-indigo-700 font-semibold" %>
    </div>
    <div class="block lg:hidden">
      <button id="sidebar-open" class="flex items-center px-6 lg:hidden text-gray-500 focus:outline-none focus:text-gray-700" data-action="click->toggle#toggle touch->toggle#toggle" type="button">
        <span class="appearance-none flex items-center inline-block">
          <span class="sr-only">
            Main Menu
          </span>
          <i class="fas fa-hamburger text-indigo-700 text-2xl" aria-hidden="true"></i>
        </span>
      </button>
    </div>

    <div class="w-full block flex-grow hidden lg:flex lg:justify-end lg:items-center lg:w-auto" data-target="toggle.toggleable">
      <div class="">
        <% if user_signed_in? %>
          <%= link_to user_path(current_user.id), class: "block lg:inline-flex mr-5 sm: mb-2 px-2 py-1 text-indigo-700 font-semibold leading-relaxed rounded text-gray-400 items-center justify-center hover:bg-gray-200" do %>
            <%= image_tag avatar_url_for(current_user, size: 32), class: "float-left mr-2 rounded-full" %>
            <%= current_user.first_name %>
          <% end %>
          <button class="bg-indigo-700 hover: bg-indigo-900 text-white font-bold py-2 px-4 rounded">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "bg-indigo-700 hover: bg-indigo-900 text-white font-bold py-2 px-4 rounded" %>
          </button>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "block lg:inline-flex mr-5 sm: mb-2 px-2 py-1 text-indigo-700 font-semibold leading-relaxed rounded text-gray-400 items-center justify-center hover:bg-gray-200" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "block lg:inline-flex mr-5 sm: mb-2 px-2 py-1 text-indigo-700 font-semibold leading-relaxed rounded text-gray-400 items-center justify-center hover:bg-gray-200" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
